---
layout: default
home: false
---
<p>
  Hi! I'm Adithya Vellal, and I'm a student at Duke studying Computer science and Math.
  <br>
</p>

<p>
  I currently serve as one of Duke Undergraduate Machine Learning's co-presidents and help
  organize events such as the Duke Datathon, Machine Learning Day, and the MLBytes Speaker Series. 
  <br>
</p>

<p>
  In the past, I've worked on numerous research and engineering projects at the intersection of machine learning and healthcare.
  I spent my past two summers interning at PathAI, where I developed deep learning algorithms for medical image alignment
  and investigated ways to speed up model training <br> and inference workflows for pathology image analysis.
  <br>
</p>

<p>
  I was also a researcher at Duke's Carl E. Ravin Imaging Labs, where I helped design general adversarial networks (GANs)
  to normalize breast MRIs produced by different types of MRI scanners. Prior to that, I worked at Harvard Medical School,
  where I engineered a deep learning pipeline to predict breast cancer incidence in benign breast disease patients
  using digital images of their biopsies.
  <br>
</p>

<p>
  Some other areas of interest include probability & decision-making, startups, and product strategy.
  <br> 
</p>

<p>
  In my spare time, you can usually find me planning my next beach trip (I've been obsessed with marine life
  since my early childhood and am an avid snorkeler) or cheering on Boston's sports teams.
  <br> 
</p>