---
layout: default
home: false
---

Hi! I'm Adithya Vellal, and I'm a student at Duke studying computer science and math.
<br>

Outside of my coursework, I serve as one of Duke Undergraduate Machine Learning's co-presidents and help
organize events such as the Duke Datathon, Machine Learning Day, and the MLBytes Speaker Series. 
<br>

In the past, I've worked on numerous research and engineering projects at the intersection of deep learning and healthcare.
I spent my past two summers interning at PathAI, where I developed deep learning algorithms for medical image alignment
and investigated ways to speed up model training and inference workflows for pathology image analysis. 
<br>

I was also a researcher at Duke's Carl E. Ravin Imaging Labs, where I helped design general adversarial networks (GANs)
to normalize breast MRIs produced by different types of MRI scanners. Prior to that, I worked at Harvard Medical School,
where I engineered a deep learning pipeline to predict breast cancer incidence in benign breast disease patients
using digital images of their biopsies.
<br>

Some other areas of interest include probability & decision-making, startups, and product strategy. 
<br>

In my spare time, you can usually find me planning my next beach trip (I've been obsessed with marine life
since my early childhood and am an avid snorkeler) or cheering on Boston's sports teams. 
<br>
<!-- 
I studied computer science at Brown and graphic design at RISD. Along the way, I interned at Figma, Facebook Design, and KAYAK. At school I also helped organize Hack@Brown, Brown's annual student hackathon.

I'm interested in many things: the web, financial technology, distributed systems, startups, technology in emerging markets (particularly India), and user experience design. I rarely write, occasionally read books, and often play chess.

You can email me at avellal14@gmail.com, or find me on Twitter. -->


<!-- I'm Adithya, an undergraduate at Duke studying Computer Science 

-mention research
-mention duke undergraduate machine learning
-mention travel -->
