---
layout: default
home: false
---
<p>
  Hi! I'm Adithya Vellal, and I'm a senior at Duke studying Computer Science and Math. I'm interested in using
  research & engineering to tackle challenging data problems. Outside of my classes, I work on machine learning
  research and serve as a Student Advisor to Duke Undergraduate Machine Learning. Some other areas of interest 
  include probability & decision-making, startups, and product strategy. In my spare time, you can usually find 
  me planning my next beach trip (I've been obsessed with marine life since my early childhood and am an 
  avid snorkeler) or cheering on Boston's sports teams.
  <br>
</p>


<b><u> Internship Experience </u></b>
<ul>
  <li><b> Fall 2021: </b> I interned as a Machine Learning Engineer at Snap, where I worked on the deep learning
  models and infrastructure that power Snapchat's cartoon lenses. </li>
  <li><b> Summer 2021: </b> I was a Quantitative Trader Intern at IMC, where I conducted research on pricing models for index options. </li>
  <li><b> Summers 2019 and 2020: </b> I worked at PathAI, where I developed deep learning algorithms for medical image alignment and investigated ways
  to speed up model training and inference workflows for pathology image analysis. </li>
</ul>

<b><u> Research Experience </u></b>
<ul>
  <li><b> Spring 2021 - Present: </b> I am a student researcher in the Statistics Department, where I've been developing
  more generalized variants of the widely used k-means clustering algorithm. The code repository for this project can be found <a href="https://github.com/avellal14/bregman_power_kmeans">here</a>  </li>
  <li><b> Fall 2018 - Spring 2020: </b> I worked at Duke's Carl E. Ravin Advanced Imaging Labs, where I helped design general adversarial networks (GANs)
  to normalize breast MRIs produced by different types of MRI scanners. The paper detailing our work 
  can be found <a href="https://arxiv.org/pdf/1912.08061.pdf">here</a>. </li>
  <li><b> Summer 2017 - Spring 2018: </b> I conducted research at Harvard Medical School, where I engineered a deep learning pipeline to quantitatively analyze 
  digital biopsy images of benign breast disease patients. The papers resulting from this project 
  can be found <a href="https://academic.oup.com/jncics/advance-article/doi/10.1093/jncics/pkaa119/6081057?guestAccessKey=22d40f06-4c8f-488b-9f1f-46b283fe4da5">here</a>,
  <a href="https://cebp.aacrjournals.org/content/early/2020/12/05/1055-9965.EPI-20-1348">here</a>, and <a href="https://www.researchsquare.com/article/rs-62424/v1">here</a>.
  The code is <a href="https://github.com/avellal14/BBD_Pipeline">here</a>. </li>
</ul>

<style>
  a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  </style>
